<header class="sticky" [ngClass]="class" [class.fixed]="stick && sticky" style="background-color: #0b0385;">
  <div class="mobile-fix-option"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="main-menu">
          <div class="menu-left">
            <div class="brand-logo col-xs-8">
              <a [routerLink]="['/frontendlanding/home/fashion']"  id="headerlogo">
                <img [src]="themeLogo" class="img-fluid" alt="logo">
              </a>
            </div>
            <div class="col-lg-offset-4 d-none d-sm-block">
              <!-- <div class="col-lg-offset-4 d-none d-sm-block -->
              <div class="ng-autocomplete">
                <ng-autocomplete class="col-md-4" [data]="allProducts" [searchKeyword]="keyword" placeHolder="Search.."
                  (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)'
                  (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
                  [notFoundTemplate]="notFoundTemplate">
                </ng-autocomplete>
                <ng-template #itemTemplate let-item>
                  <a [innerHTML]="item.prodCode" (click)="productDetail(item.prodCode , item.prodCmpCode)"></a>

                </ng-template>

                <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
              </div>
            </div>
          </div>
          <div class="menu-right pull-right">
            <div class="d-flex flex-row-reverse bd-highlight">
              <div class="p-2 bd-highlight">
                <app-settings></app-settings>
              </div>
              <div class="p-2 bd-highlight">
                <ul class="header-dropdown">
                  <li class="onhover-dropdown d-none d-lg-block">
                    <div class="media align-items-center" [ngClass]="{'d-none': !isLoginEnable}">
                      <img class="align-self-center pull-right img-25 rounded-circle check-user"
                        src="../assets/images/user.png" alt="header-user">
                    </div>
                    <ul class="onhover-show-div">
                      <li>
                        <a data-lng="es" [routerLink]="['/frontendlanding/myorder']">
                          View My Orders
                        </a>
                      </li>
                      <li>
                        <a data-lng="es" style="cursor:pointer;color:#3392ff" (click)="logOut()">
                          Log Out
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="p-2 bd-highlight">
                <a [routerLink]="['/frontendlanding/login']" class="btn btn-xs btn-solid mob-login-d-none"
                  [ngClass]="{'d-none': isLoginEnable}">LOGIN</a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="top-header">
    <div class="row ">
      <div class="col-lg-12">
        <div class="main-nav-center">
          <app-menu></app-menu>
        </div>
      </div>
      <div class="col-lg-6 text-right">
        <ul class="header-dropdown">
          <!-- <li class="compare d-none">
            <a [routerLink]="['/shop/compare']"><i class="fa fa-random" aria-hidden="true"></i>Compare</a>
          </li> -->
          <!-- <li class="mobile-wishlist d-lg-none d-md-none">
            <a [routerLink]="['/shop/wishlist']"><i class="fa fa-heart" aria-hidden="true"></i>Wishlist</a>
          </li> -->
          <li class="onhover-dropdown mobile-account d-lg-none d-md-none">
            <i class="fa fa-user" aria-hidden="true"></i> My Account
            <ul class="onhover-show-div">
              <li>
                <a data-lng="en" [ngClass]="{'d-none': !isLoginEnable}" [routerLink]="['/frontendlanding/myorder']">
                  View My Orders
                </a>
              </li>
              <li>
                <a data-lng="en" [ngClass]="{'d-none': isLoginEnable}" [routerLink]="['/frontendlanding/login']">
                  Log In
                </a>
              </li>
              <li>
                <a data-lng="es" (click)="logOut()" [ngClass]="{'d-none': !isLoginEnable}">
                  Log Out
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>


<div class="sticky d-block d-sm-none" [ngClass]="class" [class.fixed]="stick && sticky"
  style="background-color: #0b0385; height:60px;">
  <div class="main-menu">
    <div class="ng-autocomplete col-md-12 col-xs-12">
      <ng-autocomplete class="" [data]="allProducts" [searchKeyword]="keyword" placeHolder="Search.."
        (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
        historyIdentifier="allProducts" [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
      </ng-autocomplete>
      <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.prodCode" (click)="productDetail(item.prodCode , item.prodCmpCode)"></a>
      </ng-template>
      <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
      </ng-template>
    </div>
  </div>