img {
    vertical-align: baseline;
}
// .top-header .header-contact {
//     padding: 0;
// }

.main-menu .brand-logo {
    padding: 0px;
}
.onhover-div {
    padding-top: 0 !important; 
    padding-bottom: 0 !important; 
}
.main-menu{
    height: 65px;
}
.check-user{
    width: 35px;
    height: 35px;
}
.onhover-dropdown::before{
    content: '';
}
.input.ng-untouched.ng-pristine.ng-valid{
   width: 200px; 
}

