
<app-breadcrumb [title]="'myorder'" [breadcrumb]="'Myorders'"></app-breadcrumb>
<select class="col-md-4 col-xl-4 col-sm-4 col-xs-12 form-control" #t (change)="fetchOrdersByDate(t.value)" name="dateFilter" id="dateFilter">
    <option value="0">Current Month</option>
    <option value="1">Last Month</option>
    <option value="3">Last Three Months</option>
    <option value="6">Last Six Months</option>
  </select>                             
<hr>   
<section class="section-b-space" *ngFor="let orderH of orders">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="product-order">
                    <h3>{{orderH.orderNo}}({{orderH.createdDatetime|date}})</h3>
                    <div class="row product-order-detail" *ngFor="let orderD of orderH.orderDs">
                        <div class="col-3">
                            <img [src]="orderD.imgSrc" alt="" class="img-fluid">
                        </div>
                        <div class="col-3 order_detail">
                            <div>
                                <h4>Code</h4>
                                <h5>{{ orderD.id.orderProdCode }}</h5>
                            </div>
                        </div>
                        <div class="col-3 order_detail">
                            <div>
                                <h4>Qty</h4>
                                <h5>{{ orderD.orderQty }}</h5>
                            </div>
                        </div>
                        <div class="col-3 order_detail">
                            <div>
                                <h4>price</h4>
                                <h5>{{ orderD?.orderRate * productService?.Currency?.price  | currency:productService?.Currency.currency:'symbol' }}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="total-sec">
                        <ul>
                            <li>SubTotal<span>{{orderH.orderGrossAmount.toFixed(2)|currency:productService?.Currency.currency:'symbol'}}</span></li>
                            <li>Discount <span>{{ orderH.orderDiscountAmount.toFixed(2) | currency:productService?.Currency.currency:'symbol' }}</span></li>
                            <li>Shipping <span>{{ orderH.orderShipAmount.toFixed(2) | currency:productService?.Currency.currency:'symbol' }}</span></li>                           
                        </ul>
                    </div>
                    <div class="final-total">
                        <h3>total <span>{{ orderH.orderAmount | currency:productService?.Currency.currency:'symbol' }}</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">         
                <div class="row order-success-sec">
                    <div class="col-sm-6">
                        <h4>shipping address</h4>
                        <ul class="order-detail">
                            <li>{{ orderH.orderAddress }}, {{orderH.orderStateName}}</li>
                        </ul>
                    </div>
                    <div *ngIf="orderH.orderState==3" class="col-sm-6">
                        <h4>Tracking</h4>
                        <ul class="order-detail">    
                            <li>Courier: {{orderH.orderActualCourier}}</li>
                            <li>TrackingId: {{orderH.orderTrackingId}}</li>
                            <li>Dispatched Date: {{orderH.modifiedDatetime | date }}</li>                            
                            <i style="cursor:pointer" (click)= "shareTracking(orderH)" class="fa fa-whatsapp" style="font-size:30px;color:green"><span>   Share Tracking</span></i>
                        </ul>
                    </div>
                    <div *ngIf="orderH.orderState!=3" class="col-sm-6">
                        <h4>Summary</h4>
                        <ul class="order-detail">    
                            <li>Order Status: {{orderH.orderStatus}}</li>                                                
                        </ul>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</section>