<app-header-one [sticky]="true"></app-header-one>

<!-- Home slider start-->
<section class="p-0">
  <app-slider 
    [sliders]="sliders" 
    [textClass]="'text-center'"
    [category]="'Sarees'"
    [buttonText]="'shop now'"> 
  </app-slider>
</section>
<!-- Home slider End -->
<section class="section-b-space p-t-1">
  <div class="container">
    <div class="title2">
      <h3 class="text-left">New collection</h3>  
      <!-- <div class="view-all">
        <a class="view">View All</a>
      </div>     -->
    </div>


    <div class="row">
      <div class="col">
        <owl-carousel-o class="product-m no-arrow" [options]="ProductSliderConfig">
          <ng-container *ngFor="let product of newCollectionProducts | slice:0:16 ">
            <ng-template carouselSlide>
              <div class="product-box">
                <app-product-box-one
                  [product]="product"
                  [currency]="productService?.Currency"
                  [thumbnail]="true"
                  [cartModal]="true">
                </app-product-box-one>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
<section class="section-b-space p-t-1">
  <div class="container">
    <div class="title2">
      <h3 class="text-left">Trending collection</h3>
      <!-- <h2 class="title-inner2">Trending products</h2> -->
    </div>
    <div class="row">
      <div class="col">
        <owl-carousel-o class="product-m no-arrow" [options]="ProductSliderConfig">
          <ng-container *ngFor="let product of trendingCollectionProducts | slice:0:16">
            <ng-template carouselSlide>
              <div class="product-box">
                <app-product-box-one 
                  [product]="product" 
                  [currency]="productService?.Currency"
                  [thumbnail]="true"
                  [cartModal]="true">
                </app-product-box-one>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
<!-- Parallax banner start-->
<section class="p-0">
  <div class="full-banner parallax-banner1 parallax text-center p-left"
    [ngStyle]="{'background-image': 'url(assets/images/trends10.jpg)'}">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="banner-contain">
            <h2>2021</h2>
            <h3>fashion trends</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Parallax banner End -->

<!-- Tab product start-->
<div  *ngIf="specialOfferAvailable" class="title1 section-t-space">
  <h2  class="title-inner1">special offer</h2>
</div>
<section class="section-b-space p-t-0">
  <div class="container">
    <div class="row">
      <div class="col theme-tab">
        <!-- <div class="row"> -->
          <div class="col">
            <owl-carousel-o class="product-m no-arrow" [options]="ProductSliderConfig">
              <ng-container *ngFor="let product of specialOfferProducts | slice:0:16">
                <ng-template carouselSlide>
                  <div class="product-box">
                    <app-product-box-one 
                      [product]="product" 
                      [currency]="productService?.Currency"
                      [thumbnail]="true"
                      [cartModal]="true">
                    </app-product-box-one>
                  </div>
                </ng-template>
              </ng-container>
            </owl-carousel-o>
          </div>

      </div>
    </div>
  </div>
</section>
<!-- Tab product End -->

<!-- services start-->
<div class="container">
  <section class="service border-section small-section">
    <app-services></app-services>
  </section>
</div>
<!-- services End -->

<!-- blog section start-->
<!-- <section class="blog p-t-0">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="title1 section-t-space">
          <h4>Recent Story</h4>
          <h2 class="title-inner1">from the blog</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <app-blog [blogs]="blog"></app-blog>
      </div>
    </div>
  </div>
</section> -->
<!-- blog section End -->

<!-- Instagram section -->
<!-- <section class="instagram">
  <div class="container-fluid ">
    <div class="row">
      <div class="col-md-12 p-0">
        <h2 class="title-borderless"># instagram</h2>
        <app-instagram></app-instagram>
      </div>
    </div>
  </div>
</section> -->
<!-- Instagram section End -->

<!--  logo section start-->
<!-- <section class="section-b-space">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <app-logo [logos]="logo"></app-logo>
      </div>
    </div>
  </div>
</section> -->
<!--  logo section End-->

<!-- <app-newsletter></app-newsletter> -->
<app-footer-one></app-footer-one>

