<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12 col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row col-md-12">
            <div class=" col-xl-6">
              <input class="form-control col-xl-12" [(ngModel)]="customerSearch" placeholder="Customer Mobile or Email"
                     type="text" #cusMobileOrMail>
            </div>
            <div class="col-md-4">
              <button (click)="viewCustomer(cusMobileOrMail.value)" class="btn btn-primary mr-1"><span *ngIf="loading"
                                                                                                       class="spinner-border spinner-border-sm mr-1"></span>Search
              </button>
              <button type=reset (click)='resetForm()' class="btn btn-primary mr-1">Clear</button>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <form [formGroup]="user" (ngSubmit)="onSubmit()" novalidate>

            <div class="row col-md-12 col-sm-12 col-xs-12">
              <div class="form-group col-xl-4">
                <label class="row col-xl-12">User Code</label>
                <input class="form-control col-xl-12" [attr.disabled]="true" id="validationCustom01" type="text"
                       formControlName="userCode">
              </div>
              <div class="form-group col-xl-4">
                <label class="row col-xl-12"><span>*</span>User Name</label>
                <input class="form-control col-xl-12" required="true" [attr.disabled]="customerSave ? '' : null"
                       formControlName="userName" type="text">
                <div *ngIf="(f.userName.dirty || f.userName.touched) && f.userName.invalid" class="alert alert-danger">
                  <div *ngIf="f.userName.errors.required">Name is required.</div>
                  <div *ngIf="f.userName.errors.minlength">Name should be 8 character.</div>
                  <div *ngIf="f.userName.errors.maxlength">Name should not be exceed 50 character.</div>
                </div>
              </div>
              <div class="form-group col-xl-4">
                <label class="row col-xl-12"><span>*</span>Password</label>
                <input class="form-control col-xl-12" formControlName="userPassword"
                       [attr.disabled]="(customerSave||view) ? '' : null" type="password" required="true">
                <div *ngIf="(f.userPassword.dirty || f.userPassword.touched) && f.userPassword.invalid"
                     class="alert alert-danger">
                  <div *ngIf="f.userPassword.errors.required">Password is required.</div>
                  <div *ngIf="f.userPassword.errors.minlength">At Least 8 character.</div>
                </div>
              </div>
            </div>
            <div class="row col-md-12 col-sm-12 col-xs-12">
              <div class="form-group col-xl-4">
                <label class="row col-xl-12"><span></span>Gender</label>
                <select class="form-control col-xl-12" [attr.disabled]="customerSave ? '' : null" 
                        formControlName="userGender">
                  <option *ngFor="let gender of gender" [value]="gender.value">{{gender.label}}</option>
                </select>
              </div>

              <div class="form-group col-xl-4">
                <label for="validationCustom02" class="row col-xl-12"><span>*</span> Phone</label>
                <input [attr.disabled]="customerSave ? '' : null" class="form-control col-xl-12" id="validationCustom02"
                       formControlName="userPhone" type="text" required="true">
                <div *ngIf="(f.userPhone.dirty || f.userPhone.touched) && f.userPhone.invalid"
                     class="alert alert-danger">
                  <div *ngIf="f.userPhone.errors.required">Phone is required.</div>
                  <div *ngIf="f.userPhone.errors.pattern">Phone should be a <strong>number</strong></div>
                  <div *ngIf="f.userPhone.errors.maxlength||f.userPhone.errors.minlength">Phone number <strong>should
                    have 10 digits</strong></div>
                </div>
              </div>
              <div class="form-group col-xl-4">
                <label class="row col-xl-12"><span>*</span>Mail</label>
                <input class="form-control col-xl-12" formControlName="userMail" type="email" required="true"
                       [attr.disabled]="customerSave ? '' : null">
                <div *ngIf="(f.userMail.dirty || f.userMail.touched) && f.userMail.invalid" class="alert alert-danger">
                  <div *ngIf="f.userMail.errors.required">Email is required.</div>
                  <div *ngIf="f.userMail.errors.email">Enter Valid Email Address.</div>
                </div>
              </div>
            </div>
            <div class="row col-md-12 col-sm-12 col-xs-12">
              <div class="form-group col-xl-4">
                <label class="row col-xl-12">Address</label>
                <input class="form-control col-xl-12" formControlName="userAddress"
                       [attr.disabled]="customerSave ? '' : null" type="text">
              </div>
              <div class="form-group col-xl-4">
                <label class="row col-xl-12">City</label>
                <input class="form-control col-xl-12" formControlName="userCity"
                       [attr.disabled]="customerSave ? '' : null" type="text">
              </div>
              <div class="form-group col-xl-4">
                <label class="row col-xl-12">Pin Code</label>
                <input class="form-control col-xl-12" formControlName="userPincode"
                       [attr.disabled]="customerSave ? '' : null" type="text">
              </div>
            </div>
            <div class="row col-md-12 col-sm-12 col-xs-12">
              <div class="form-group col-xl-4">
                <label class="row col-xl-12">State</label>
                <input class="form-control col-xl-12" formControlName="userState"
                       [attr.disabled]="customerSave ? '' : null" type="text">
              </div>
              <div class="form-group col-xl-4">
                <label class="row col-xl-12">Country</label>
                <input class="form-control col-xl-12" formControlName="userCountry"
                       [attr.disabled]="customerSave ? '' : null" type="text">
              </div>
              <div class="form-group col-xl-4">
                <label class="row col-xl-12">Group</label>
                <select class="form-control col-xl-12"  [attr.disabled]="customerSave ? '' : null"
                        formControlName="groupCode">
                  <option *ngFor="let group of groupCode" [value]="group.value">{{group.label}}</option>
                </select>
              </div>
            </div>
            <div class="row col-md-12 col-sm-12 col-xs-12">
              <div [hidden]="!customerSave" class="form-group col-xl-4">
                <label>Customer Type</label>
                <select formControlName="cusType" class="custom-select form-control" (change)="cusTypeChange($event)">
                  <option [ngValue]="0">Select</option>  
                  <option [ngValue]="1">Retailer</option>
                    <option [ngValue]="2">Reseller</option>
                    <option [ngValue]="3">Dealer</option>                    
                </select>
                <!-- <div class="m-checkbox-inline mb-0 col-xl-12 custom-radio-ml d-flex radio-animated">
                  <label class="d-block col-xl-6" for="isPaidUserYes">
                    <input class="radio_animated" [value]="true" id="isPaidUserYes" type="radio"
                           formControlName="isPaidUser">
                    Yes
                  </label>

                  <label class="d-block col-xl-6" for="isPaidUserNo">
                    <input class="radio_animated" [value]="false" id="isPaidUserNo" type="radio"
                           formControlName="isPaidUser">No
                  </label>
                </div> -->
              </div>
              <div class="form-group col-xl-4">
                <label class="row col-xl-12"><span>*</span>User Active</label>
                <div class="m-checkbox-inline mb-0 col-xl-12 custom-radio-ml d-flex radio-animated">
                  <label class="row d-block  col-xl-2" for="isUserActiveYes">
                    <input class="radio_animated" [attr.disabled]="customerSave ? '' : null" [value]="true"
                           checked="true" id="isUserActiveYes" type="radio" formControlName="isUserActive">Yes
                  </label>
                  <label class="d-block col-xl-2" for="isUserActiveNo">
                    <input [attr.disabled]="customerSave ? '' : null" class="radio_animated" [value]="false"
                           id="isUserActiveNo" type="radio" formControlName="isUserActive">No
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="text-center">
                <button type="submit" class="btn btn-primary mr-1"><span *ngIf="loading"
                                                                                                  class="spinner-border spinner-border-sm mr-1"></span>Add
                </button>
                <a [routerLink]="['/landing/user']" class="btn btn-light">Back</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
