<app-breadcrumb [title]="'Checkout'" [breadcrumb]="'Checkout'"></app-breadcrumb>
<section class="cart-section section-b-space">
    <div class="container padding-cls">
        <div class="checkout-page">
            <div class="checkout-form">
                <form>               
                        <div class="row col-lg-12 col-sm-12 col-xs-12">
                            <div class="col-md-8">
                                <label>Customer Address</label>
                                 <textarea class="form-control h-auto" name="address"
                                     [formControl]="checkoutForm.controls['address']"
                                     placeholder="Place Your Address" id="exampleFormControlTextarea1" rows="5"
                                     cols="50"></textarea>
                             </div>
                            <div class="col-md-4">                        
                                <label>State</label>
                                <select class="custom-select form-control" (change)="stateChange($event)">
                                    <option [ngValue]="0">Select</option>
                                    <option *ngFor="let state of stateList" [ngValue]="state.value">
                                        {{state.label}}</option>
                                </select>                         
                                <label>Courier</label>
                                <select class="custom-select form-control" (change)="courierChange($event)">
                                    <option [ngValue]="0">Select</option>
                                    <option *ngFor="let courier of courierList" [ngValue]="courier.value">
                                        {{courier.label}}</option>
                                </select>                                 
                             </div>
                        </div>                    
                </form>
            </div>
        </div>
        <hr>
        <div>
        <div class="col-lg-12" >
            <div *ngIf="products.length">            
             <table class="table cart-table table-responsive-xs">
                 <thead>
                     <tr class="table-head">
                         <th scope="col">image</th>
                         <th scope="col">product</th>
                         <th scope="col">price</th>
                         <th scope="col">quantity</th>
                         <th scope="col">action</th>
                         <th scope="col">total</th>
                     </tr>
                 </thead>
                 <tbody *ngFor="let product of products">
                     <tr>
                         <td>
                             <a (click)="productDetail(product)">
                                 <img [src]="product.src" [alt]="product.alt">
                             </a>
                         </td>
                         <td>
                             <a [routerLink]="['/shop/product/left/sidebar/', product.title.replace(' ', '-')]">{{ product.id | titlecase }}</a>
                             <div class="mobile-cart-content row">
                                 <div class="col-xs-3">
                                     <div class="qty-box">
                                         <div class="input-group">
                                             <span class="input-group-prepend">
                                                 <button type="button" class="btn quantity-left-minus" data-type="minus" (click)="decrement(product)">
                                                     <i class="ti-angle-left"></i>
                                                 </button>
                                             </span>
                                             <input type="text" name="quantity" class="form-control input-number" disabled [(ngModel)]="product.quantity">
                                             <span class="input-group-prepend">
                                                 <button type="button" class="btn quantity-right-plus"  data-type="plus" (click)="increment(product)">
                                                     <i class="ti-angle-right"></i>
                                                 </button>
                                             </span>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-xs-3">
                                     <h2 class="td-color">
                                         {{ (product.price | discount:product) * productService?.Currency.price | currency:productService?.Currency.currency:'symbol' }}
                                     </h2>
                                 </div>
                                 <div class="col-xs-3">
                                     <h2 class="td-color">
                                         <a (click)="removeItem(product)" class="icon">
                                             <i class="ti-close"></i>
                                         </a>
                                     </h2>
                                 </div>
                             </div>
                         </td>
                         <td>
                             <h2>
                                 {{ (product.price | discount:product) * productService?.Currency.price | currency:productService?.Currency.currency:'symbol' }}
                             </h2>
                         </td>
                         <td>
                             <div class="qty-box">
                                 <div class="input-group">
                                     <span class="input-group-prepend">
                                         <button type="button" class="btn quantity-left-minus" data-type="minus" (click)="decrement(product)">
                                             <i class="ti-angle-left"></i>
                                         </button>
                                     </span>
                                     <input type="text" name="quantity" class="form-control input-number" disabled [(ngModel)]="product.quantity">
                                     <span class="input-group-prepend">
                                         <button type="button" class="btn quantity-right-plus"  data-type="plus" (click)="increment(product)">
                                             <i class="ti-angle-right"></i>
                                         </button>
                                     </span>
                                 </div>
                             </div>
                         </td>
                         <td>
                             <a href="javascript:void(0)" (click)="removeItem(product)" class="icon">
                             <i class="ti-close"></i>
                         </a>
                         </td>
                         <td>
                             <h2 class="td-color">
                                 {{ ((product.price | discount:product) * product.quantity) * productService?.Currency.price | currency:productService?.Currency.currency:'symbol' }}
                             </h2>
                         </td>
                     </tr>
                 </tbody>
             </table>
             <table class="table cart-table table-responsive-md">
                 <tfoot>
                     <tr>
                         <td>Sub Total :</td>
                         <td>
                             <h5> {{ getTotal | async
                                 | currency:productService?.Currency.currency:'symbol'}}</h5>
                         </td>
                     </tr>
                     <tr>
                         <td>Discount :</td>
                         <td>
                             <h5> {{discAmount |
                                 currency:productService?.Currency.currency:'symbol'}}</h5>
                         </td>
                     </tr>
                     <tr>
                         <td>Shipping :</td>
                         <td>
                             <h5> {{shippingAmount |
                                 currency:productService?.Currency.currency:'symbol'}}</h5>
                         </td>
                     </tr>
                     <tr>
                         <td>Total :</td>
                         <td>
                             <h5> {{ totalAmout |
                                 currency:productService?.Currency.currency:'symbol'}}</h5>
                         </td>
                     </tr>
                 </tfoot>
             </table>
         </div>
     </div> 
     </div>                
         <button type="submit" [disabled]="orderPlaced" class="btn-solid btn" (click)="placeOrder()">
             <span>Place Order</span>
         </button>
    </div>
</section>
