/* You can add global styles to this file, and also import other style files */
/* header search bar styles */
.form_search {
    height: 42px;
    width: 420px;
    max-width: 633px;
    box-shadow: 0 2px 4px 0 rgba(104, 116, 171, 0.4);  /*rgb(0 0 0 / 23%)*/
    border-radius: 0; 
    top: -1px;  
    border: 1px solid #141a57;
}           

.form_search input {
    height: 37px;
}
.form_search button i {
    font-size: 17px;
}
.form_search button {
    height: 30px !important;
    top: 9px !important;    
}
/*input placeholder*/
::placeholder {
    color: #141a57;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #141a57;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: #141a57;
  }
/*********Menu Styles*****/
header .main-navbar .nav-menu > li > a {
    padding-top: 6px !important;
    padding-bottom: 0 !important;
}
.top-header {
    background-color: #fff;
}
.main-navbar  {
    height: 39px;
}
#mainnav{
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
}
.breadcrumb-section {
    padding: 5px 0;
}

element.style {
}
.breadcrumb-section .breadcrumb {
    background-color: transparent;
    justify-content: flex-end;
    text-transform: uppercase;
    font-size: 14px;
    color: #555555;
    font-weight: 600;
    margin: 0;
    padding-right: 0;
}
.breadcrumb {
    padding: 0.1rem 1rem;
}
.cart-section tbody tr td a img{
    height: 55px;
}
.form-control {
    height: 35px;
}
.table th, .table td {
    padding: 0.15rem;
}
/* Mobile Media Query */
@media (max-width: 577px)
{
    .form_search {
        display: block;
        width: 245px;
        left: 30%;
    }
    .brand-logo {
        left: 10%;
    }
    .toggle-nav {
        padding-top: 46px;
        padding-bottom: 26px;
        left: 85%;
    }
    // .main-menu .menu-right .icon-nav .mobile-cart {
    //     display: none;
    // }
    .btn-solid {
        padding: 4px 15px;
    }
    .mob-login-d-none{
        display: none;
    }
}