<div class="col-xl-12">
  <div class="card">    
    <form [formGroup]="product">
      <div class="row col-md-12">
        <h4 class="col-xl-12 col-md-12 col-sm-12 col-xl-12" >Catalog Details</h4>
        <div class="form-group col-xl-4">
          <label class="col-form-label"><span>*</span> Name</label>
          <input class="form-control col-xl-12" type="text" formControlName="productName" required="true" />
          <input class="hidden" formControlName="prodCatalogId" type="hidden" />

          <div *ngIf="(f.productName.dirty || f.productName.touched) && f.productName.invalid"
            class="alert alert-danger">
            <div *ngIf="f.productName.errors.required">Name is required.</div>
          </div>
        </div>
        <div class="form-group col-xl-4">
          <label class="col-form-label"><span>*</span> Categories</label>
          <select class="custom-select col-xl-12" required="" formControlName="productCategories">
            <option *ngFor="let category of categoryList" [value]="category.value">{{category.label}}</option>
          </select>
        </div>
        <div class="form-group col-xl-4">
          <label class="col-form-label"><span>*</span> Product Price</label>
          <input class="form-control col-xl-12" formControlName="productPrice" type="text" required="" />
          <div *ngIf="(f.productPrice.dirty || f.productPrice.touched) && f.productPrice.invalid"
            class="alert alert-danger">
            <div *ngIf="f.productPrice.errors.required">Price is required.</div>
          </div>
        </div>
        <div class="form-group col-xl-4">
          <label class="col-form-label"><span>*</span>Gender</label>
          <select class="custom-select col-xl-12" required="" formControlName="productGender">
            <option *ngFor="let gender of gender" [value]="gender.value">{{gender.label}}</option>
          </select>
        </div>
        <div class="form-group col-xl-4">
          <label class="col-form-label"><span>*</span>Brand</label>
          <select class="custom-select col-xl-12" required="" formControlName="productBrand">
            <option *ngFor="let brandList of brandList" [value]="brandList.value">{{brandList.label}}</option>
          </select>
        </div>
        <div class="form-group col-xl-4">
          <label class="col-form-label"><span>*</span>Material</label>
          <select class="custom-select col-xl-12" required="" formControlName="productMaterial">
            <option *ngFor="let material of materialList" [value]="material.value">{{material.label}}</option>
          </select>
        </div>
        <div class="form-group col-xl-4">
          <label class="col-form-label"><span>*</span>Weight Type</label>
          <select class="custom-select col-xl-12" required="" formControlName="productWeightType">
            <option *ngFor="let weight of weightTypeList" [value]="weight.value">{{weight.label}}</option>
          </select>
        </div>
        <div class="form-group col-xl-4">
          <label class="col-form-label"><span>*</span> Weight</label>
          <input class="form-control col-xl-12" formControlName="productWeight" type="text" required="" />
          <div *ngIf="(f.productWeight.dirty || f.productWeight.touched) && f.productWeight.invalid"
            class="alert alert-danger">
            <div *ngIf="f.productWeight.errors.required">Weight is required.</div>
          </div>
        </div>
        <div class="form-group col-xl-4">
          <label class="col-form-label"><span>*</span> Description</label>
          <input class="form-control col-xl-12" formControlName="productDescription" type="text" required="" />
          <div *ngIf="(f.productDescription.dirty || f.productDescription.touched) && f.productDescription.invalid"
            class="alert alert-danger">
            <div *ngIf="f.productDescription.errors.required">Description is required.</div>
          </div>
        </div>
        <div class="form-group col-xl-4">
          <label class="col-form-label"><span></span> Discount</label>
          <input class="form-control col-xl-12" formControlName="productDiscount" type="text" required="" />
        </div>
        <h4 class="col-xl-12 col-md-12 col-sm-12 col-xl-12" >Product Details</h4>
        <div class="form-group col-xl-4">
          <label class="col-form-label"><span></span> ProductCode</label>
          <input class="form-control col-xl-12" (change)="prodCodeChange($event)" formControlName="prodCode" type="text" required="" />
          <span *ngIf="errorCode" style="color: red;">Enter Product Code</span>
          <span *ngIf="errorProdCode" style="color: red;">Product code already provided</span>            
          <span *ngIf="existingProdCode" style="color: red;">Product code already exists in other catalog</span>
        </div>

        <div class="form-group col-xl-4">
          <label class="col-form-label"><span></span> Color</label>
          <input class="form-control col-xl-12" (change)="prodColorChange($event)" formControlName="prodColor" type="text" required="" />
          <span *ngIf="errorColor" style="color: red;">
            Enter Color
          </span>
        </div>

        <div class="form-group col-xl-4">
          <label class="col-form-label"><span></span> Action</label>
          <br>
          <button class="form-control col-xl-4 col-xs-4 btn btn-primary mr-1" (click)="addQty()">Add</button>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <div id="batchDelete" class="custom-datatable">
                <div class="table-responsive">
                  <ng2-smart-table class="table table-hover" [settings]="settings" [source]="source"
                    (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onSaveConfirm($event)">
                  </ng2-smart-table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group mb-0">
        <div class="text-center">
          <button [disabled]="loading" class="btn btn-primary mr-1" (click)="saveProducts()">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Save</button>
          <a [routerLink]="['/landing/products']" class="btn btn-light">Back</a>
        </div>
      </div>
    </form>
    <!-- </div> -->
  </div>
</div>
<!-- </div> -->
<!-- </div> -->
