
<div>
  <div class="page-wrapper">
    <div class="page-body-wrapper">
      <div class="page-body">
        <!-- <app-breadcrumb></app-breadcrumb> -->
        <main [@animateRoute]="getRouterOutletState(o)">
          <router-outlet #o="outlet"></router-outlet>
        </main>
      </div>
    </div>
  </div>
</div>

