<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <button (click)="addProduct()" class="btn btn-primary pull-right">Add Catalog</button>
        </div>
        <div class="card-body">
          <div id="batchDelete" class="custom-datatable">
            <div class="table-responsive">
              <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="onCustomAction($event)" (custom)="onCustomAction($event)" ></ng2-smart-table>         
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
