<div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div class="row col-md-12 col-xl-12 col-sm-12">
          <div class="form-group col-xl-4">
            <ng-autocomplete placeholder="Enter Product Code" [data]="allProducts" [searchKeyword]="keyword"
                             (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)'
                             (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
                             [notFoundTemplate]="notFoundTemplate">
            </ng-autocomplete>

            <ng-template #itemTemplate let-item>
              <a [innerHTML]="item.prodCode"></a>
            </ng-template>

            <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>
            <span *ngIf="errorProdCode" style="color: red;">Product code already exists</span>
          </div>
          <div class="form-group col-xl-4">
            <input type="number" class="form-group form-control" [(ngModel)]="productQty" min="0" maxlength="4"
                   required>
            <span *ngIf="errorQty" style="color: red;">
              Enter qty
            </span>
          </div>
          <div class="form-group col-xl-4 col-md-4 col-sm-2">
            <div class="text-center">
              <button class="btn btn-primary mr-1" (click)="addQty()">
                Add
              </button>
            </div>
          </div>
        </div>

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 col-xl-12 col-sm-12">
              <div id="openingStockTable" class="custom-datatable">
                <div class="table-responsive">
                  <ng2-smart-table [settings]="settings" [source]="source" (editConfirm)="onSaveConfirm($event)"
                                   (deleteConfirm)="onDeleteConfirm($event)"></ng2-smart-table>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="form-group mb-0">
          <div class="text-center">
            <button [disabled]="loading" class="btn btn-primary mr-1" (click)="saveOpeningStock()">
                                  <span *ngIf="loading"
                                        class="spinner-border spinner-border-sm mr-1"></span>Save
            </button>
          </div>
        </div>
      </div>
    </div>
</div>
