<div *ngIf="!loader">
  <div class="img-wrapper">
    <div class="lable-block">
      <span class="lable3" *ngIf="product.newProduct">new</span>
      <span style="color: white" class="lable4" *ngIf="product.sale">on sale</span>
    </div>
    <div class="front">
      <a [routerLink]="['/frontendlanding/shop/product/three/column/'+product.id+'/'+product.cmpCode]" class="aclass">
        <img
          [defaultImage]="ImageSrc ? ImageSrc : 'assets/images/product/placeholder.jpg'"
          [lazyLoad]="ImageSrc ? ImageSrc : product.src"
          class="img-fluid lazy-loading"
          alt="{{ product.alt }}" />
      </a>
    </div>
    <div class="back" *ngIf="onHowerChangeImage">
      <a [routerLink]="['/frontendlanding/shop/product/three/column/'+product.id+'/'+product.cmpCode]" >
        <img [src]="ImageSrc ? ImageSrc : product.src" class="img-fluid lazy-loading" alt="{{ product.alt}}">
      </a>
    </div>
<!--    <ul class="product-thumb-list" *ngIf="thumbnail">-->
<!--      <li class="grid_thumb_img" [class.active]="ImageSrc == image.src" *ngFor="let image of product.images">-->
<!--        <a href="javascript:void(0)" (mouseover)="ChangeVariantsImage(image.src)">-->
<!--          <img [lazyLoad]="image.src">-->
<!--        </a>-->
<!--      </li>-->
<!--    </ul>-->
    <div class="cart-info cart-wrap">
      <a href="javascript:void(0)" title="Add to cart" (click)="addToCart(product)">
        <i style="color:white" class="ti-shopping-cart"></i>
      </a>     
      <a href="javascript:void(0)" title="Quick View" (click)="QuickView.openModal()">
        <i style="color:white" class="ti-search" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  <div class="product-detail">
    <div>     
        <a (click)="buyNow(product)" *ngIf="product.stock > 0" class="btn btn-xs btn-solid">BuyNow</a>      
      <bar-rating [rate]="5" [readOnly]="true"></bar-rating>      
      <a [routerLink]="['/frontendlanding/shop/product/three/column/'+product.id+'/'+product.cmpCode]" >
        <h6>{{ product?.id }}</h6>
      </a>
      <p>{{ product?.description }}</p>
      <h4>
        {{ product?.price * currency?.price | discount:product | currency:currency?.currency:'symbol' }}
        <del *ngIf="product?.discount"><span class="money"> {{ product?.price * currency?.price | currency:currency?.currency:'symbol' }}</span></del>
      </h4>
    </div>
  </div>
</div>
<app-skeleton-product-box *ngIf="loader"></app-skeleton-product-box>
<app-quick-view #quickView [product]="product" [currency]="currency"></app-quick-view>
<app-cart-modal #cartModal [product]="product" [currency]="currency" *ngIf="cartModal"></app-cart-modal>

