<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="row col-md-12 col-xl-12 col-sm-12">
        <div class="form-group col-xl-4">
          <ng-autocomplete placeholder="Enter Product Name" [data]="productList" [searchKeyword]="keyword"
            (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
            [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
          </ng-autocomplete>
          <ng-template #itemTemplate let-item>
            <a [innerHTML]='item.prodName'></a>
          </ng-template>
          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>
       
          <div class="form-group col-xl-4">
            <label class="btn btn-default">
              <input type="file" accept="image/*" multiple (change)="selectFiles($event)" />
            </label>
          </div>        
        
  
        <div class="form-group col-xl-4">
          <div *ngFor="let progressInfo of progressInfos" class="mb-2">
            <span>{{ progressInfo.fileName }}</span>
            <div class="progress">
              <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                attr.aria-valuenow="{{ progressInfo.percentage }}" aria-valuemin="0" aria-valuemax="100"
                [ngStyle]="{ width: progressInfo.percentage + '%' }">
                {{ progressInfo.percentage }}%
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row col-md-12 col-xl-12 col-sm-12">
        
        <div class="form-group col-xl-4"> <button class="btn btn-success" (click)="uploadFiles()">
            Upload
          </button>
        </div>        
      </div>

      <div class="alert alert-light" role="alert">{{ message }}</div>
      <div class="col-xl-6">
        <table *ngIf="fileInfos" class="order-detail table table-striped" cellpadding="2" cellspacing="2">
          <thead>
            <tr>
              <th>NAME</th>
              <th>PRODUCT</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let file of fileInfos | async">
              <td>
                <h5 style="margin-top: 15px;">{{ file.name }} </h5>
              </td>
              <td valign="top" style="padding-left: 15px;">
                <img src="{{ file.url }}" alt="{{ file.name }}" height="80px">
              </td>
            </tr>
          </tbody>
        </table>
      </div>





      <!-- <div class="card">
        <div class="card-header">List of Images</div>
        <ul class="list-group list-group-flush" *ngFor="let file of fileInfos | async">
          <li class="list-group-item">
            <p><a href="{{ file.url }}">{{ file.name }}</a></p>
            <img src="{{ file.url }}" alt="{{ file.name }}" height="80px">
          </li>
        </ul>
      </div> -->
    </div>
  </div>
</div>