<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>No Stock Search Count Report</h5>
        </div>
        <div class="card-body">
          <div id="stockReportTable">
            <div class="table-responsive">
              <ng2-smart-table [settings]="settings" [source]="noStockReportData"></ng2-smart-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->
