<div class="icon-nav">
  <ul>   
    <li class="onhover-div mobile-cart">
      <div class="mt-md-2">
        <a [routerLink]="['/frontendlanding/shop/cart']">
          <img src="../../../../assets/images/icon/cartIc.png" class="img-fluid" alt="">
          <i class="ti-shopping-cart"></i>
        </a>
      </div>
      <span style="cursor:pointer;" [routerLink]="['/frontendlanding/shop/cart']" class="cart_qty_cls">{{ products.length }}</span>      
    </li>
  </ul>
</div>
