
<!-- thank-you section start -->
<section class="section-b-space light-layout" *ngIf="orderH">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="success-text">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <h2>thank you</h2>
                    <p>Payment has been received And Order Placed Successfully</p>
                    <p>Payment Id:{{ orderH?.orderRpayPaymentNo }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->

<!-- order-detail section start -->
<section class="section-b-space" *ngIf="orderH">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="product-order">
                    <h3>your order details</h3>
                    <div class="row product-order-detail" *ngFor="let orderD of orderH.orderDs">
                        <div class="col-3">
                            <img [src]="orderD.imgSrc" alt="" class="img-fluid">
                        </div>
                        <div class="col-3 order_detail">
                            <div>
                                <h4>Code</h4>
                                <h5>{{ orderD.id.orderProdCode }}</h5>
                            </div>
                        </div>
                        <div class="col-3 order_detail">
                            <div>
                                <h4>Qty</h4>
                                <h5>{{ orderD.orderQty }}</h5>
                            </div>
                        </div>
                        <div class="col-3 order_detail">
                            <div>
                                <h4>price</h4>
                                <h5>{{ orderD?.orderRate * productService?.Currency?.price  | currency:productService?.Currency.currency:'symbol' }}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="total-sec">
                        <ul>
                            <li>Subtotal <span>{{ orderH.orderGrossAmount.toFixed(2) | number | currency:productService?.Currency.currency:'symbol' }}</span></li>
                            <li>Shipping <span>{{ orderH.orderShipAmount.toFixed(2) | number | currency:productService?.Currency.currency:'symbol' }}</span></li>                            
                        </ul>
                    </div>
                    <div class="final-total">
                        <h3>total <span>{{ orderH.orderAmount | currency:productService?.Currency.currency:'symbol' }}</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row order-success-sec">
                    <div class="col-sm-6">
                        <h4>summary</h4>
                        <ul class="order-detail">
                            <li>order ID: {{ orderH.orderNo }}</li>
                            <li>Order Date: {{orderH.createdDatetime | date }}</li>
                            <!-- <li>Order Total: {{ orderH.orderAmount | currency:productService?.Currency.currency:'symbol' }}</li> -->
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <h4>shipping address</h4>
                        <ul class="order-detail">
                            <li>{{ orderH.orderAddress + orderH.orderStateName}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->