<app-breadcrumb [title]="product?.title" [breadcrumb]="'Product'"></app-breadcrumb>
<!-- section start -->
<section class="section-b-space">
    <div class="collection-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <owl-carousel-o [options]="ProductDetailsMainSliderConfig" #owlCar class="product-slick">
                        <ng-container>
                            <ng-template carouselSlide [id]="1">
                                <div>
                                    <img [defaultImage]="'assets/images/product/placeholder.jpg'" [lazyLoad]="product.src" [alt]="product.alt" class="img-fluid">
                                </div>
                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                </div>
                <div class="col-lg-4">
                    <div class="product-right product-form-box">
                        <h4>
                            <del *ngIf="product?.discount">{{ product?.price * productService.Currency?.price | currency: productService.Currency?.currency:'symbol' }}</del>
                            <span *ngIf="product?.discount>0">{{ product?.discount }}% off</span>
                        </h4>
                        <h3>
                            {{ (product?.price | discount:product) * productService.Currency?.price | currency: productService.Currency?.currency:'symbol' }}
                        </h3>
                        <ul class="color-variant" *ngIf="Color(product).length">
                            <li [class]="color" [class.active]="activeSlide == i.toString()" *ngFor="let color of Color(product); index as i" [ngStyle]="{'background-color': color}" (click)="owlCar.to(activeSlide = i.toString())">
                            </li>
                        </ul>
                        <div class="product-description border-product">
                            <h5 class="avalibility" *ngIf="counter <= product.stock"><span style="color:green;">In Stock</span></h5>
                            <h5 class="avalibility" *ngIf="counter > product.stock"><span style="color:red;">Out of Stock</span></h5>
                            <h6 class="product-title">quantity</h6>
                            <div class="qty-box">
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                <button type="button" class="btn quantity-left-minus" data-type="minus" (click)="decrement()">
                                    <i class="ti-angle-left"></i>
                                </button>
                            </span>
                                    <input type="text" name="quantity" class="form-control input-number" [value]="counter" disabled/>
                                    <span class="input-group-prepend">
                                <button type="button" class="btn quantity-right-plus" data-type="plus" (click)="increment()">
                                    <i class="ti-angle-right"></i>
                                </button>
                            </span>
                                </div>
                            </div>
                        </div>
                        <div class="product-buttons">
                            <a href="javascrip:void(0)" class="btn btn-solid" [class.disabled]="counter > product.stock" (click)="addToCart(product)">add to cart</a>
                            <a href="javascrip:void(0)" class="btn btn-solid" [class.disabled]="counter > product.stock" (click)="buyNow(product)">buy now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="product-right product-description-box">
                        <h2>{{ product.id }}</h2>
                        <div class="border-product">
                            <h6 class="product-title">product details</h6>
                            <p>{{ product.description }}</p>
                        </div>
                        <div class="single-product-tables border-product detail-section">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>Brand:</td>
                                        <td>{{product.brand}}</td>
                                    </tr>
                                    <tr>
                                        <td>Color:</td>
                                        <td>{{product.color}}</td>
                                    </tr>
                                    <tr>
                                        <td>Category:</td>
                                        <td>{{product.category}}</td>
                                    </tr>
                                    <tr>
                                        <td>Avalibility:</td>
                                        <td *ngIf="counter <= product.stock" style="color:green;">In Stock</td>
                                        <td *ngIf="counter > product.stock" style="color:red;">Out of Stock</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="border-product">
                            <h6 class="product-title">share it</h6>
                            <div class="product-icon">
                                <ul class="product-social">
                                    <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                                    <!-- <li><a href="https://plus.google.com/discover"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li> -->
                                    <li><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <section class="tab-product m-0">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <ngb-tabset [type]="'tabs'" class="nav-material">
                            <ngb-tab>
                                <ng-template ngbTabTitle>Description</ng-template>
                                <ng-template ngbTabContent>
                                    <p>{{ product.description }}</p>
                                </ng-template>
                            </ngb-tab>
                        </ngb-tabset>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <app-related-product [type]="product?.type" [productCode]="product?.id" [catalogId]="product?.prodCatalogId" ></app-related-product>
</section>
<!-- <app-size-modal #sizeChart [product]="product"></app-size-modal> -->
<!-- Section ends -->
