<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="col-sm-12 col-md-12">
            <div class="row">
              <div class="col-md-4 col-sm-12">
                <label class="col-form-label col-md-4 col-sm-12">Status</label>
                <select class="custom-select col-md-6 col-sm-12"  [(ngModel)]="status" (change)="fetchOrder()" >
                  <option value="2">Accepted</option>
                  <option value="3">Dispatched</option>
                </select>
              </div>
              <div class="col-md-4 col-sm-2">
                <div class="row">
                  <label class="col-form-label col-md-4 col-sm-12">Date Range</label>
                    <div class="col-xs-12 col-12 col-md-8 form-group">
                      <input readonly class="form-control" #drp="bsDaterangepicker" bsDaterangepicker [(ngModel)]="bsRangeValue"
                      [bsConfig]="bsConfig" (bsValueChange)="fetchOrder()">
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div id="batchDelete">
              <div class="table-responsive">
                <ng2-smart-table [settings]="settings" style="cursor:pointer" [source]="source" (userRowSelect)="onCustomAction($event)" (custom)="onCustomAction($event)" ></ng2-smart-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->
