<!--New Login -->
<div class="page-wrapper">
    <div class="authentication-box">
        <div class="container">
            <div class="row">
                <div class="col-md-7 card-right py-5 mx-auto">
                    <div class="card tab2-card">
                        <div class="card-body">
                            <ngb-tabset class="tab-coupon mb-0">
                                <ngb-tab>
                                    <ng-template ngbTabTitle><i class="fa fa-user mr-2"></i>Login</ng-template>
                                    <ng-template ngbTabContent>
                                        <div class="tab-pane fade active show" id="account" role="tabpanel"
                                             aria-labelledby="account-tab">
                                            <div class="theme-card">
                                                <form class="theme-form" [formGroup]="loginForm">
                                                    <div class="form-group">
                                                        <label for="email">Mobile Number Or Email</label>
                                                        <input type="text" class="form-control" id="email" formControlName="loginEmail" required="">
                                                        <app-field-error-display
                                                                [displayError]="!loginForm.controls['loginEmail'].valid && loginForm.controls['loginEmail'].touched"
                                                                errorMsg="Please enter mobile no or email">
                                                        </app-field-error-display>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="review">Password</label>
                                                        <div class="input-group">
                                                            <input [type]="show ? 'text' : 'password'" class="form-control" id="review" formControlName="loginPassWord" required="">
                                                            <div class="input-group-append">
                                                              <span class="input-group-text">
                                                                <i class="fa"
                                                                   [ngClass]="{
                                                                    'fa-eye-slash': !show,
                                                                    'fa-eye': show
                                                                  }"
                                                                   (click)="password()"></i>
                                                              </span>
                                                            </div>
                                                        </div>
                                                        <!-- <button class="btn btn-primary" (click)="password()">{{show ? 'Show' : 'Hide'}}</button> -->
                                                        <app-field-error-display
                                                                [displayError]="!loginForm.controls['loginPassWord'].valid&&loginForm.controls['loginPassWord'].touched"
                                                                errorMsg="Please enter password">
                                                        </app-field-error-display>
                                                    </div>
                                                    <div class="form-button">
                                                        <app-field-error-display [displayError]="loginMessage()" errorMsg={{loginMessage()}}>
                                                        </app-field-error-display>
                                                        <button id="login" (click)="onSubmit()" [disabled]="!loginForm.valid" class="btn btn-solid" type="submit">Login</button>                                                      
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngb-tab>
                                <ngb-tab>
                                    <ng-template ngbTabTitle><i class="fa fa-user-plus mr-2"></i> Register
                                        <ng-template ngbTabContent>
                                            <div class="tab-pane fade active show" id="register" role="tabpanel"
                                                 aria-labelledby="register-tab">
                                                <form [formGroup]="user" novalidate>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label for="userName">Full Name</label>
                                                            <input type="text" class="form-control" id="userName" placeholder="Full Name" formControlName="userName" required="">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="mobileNo">Mobile No.</label>
                                                            <input type="number" class="form-control" id="mobileNo" placeholder="Mobile Number" formControlName="userPhone" required="">
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label for="email">Email</label>
                                                            <input type="email" class="form-control" id="email" placeholder="Email" formControlName="userMail" required="">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="password">Password</label>
                                                            <div class="input-group">
                                                                <input [type]="show ? 'text' : 'password'" class="form-control" id="password" placeholder="Enter your password" formControlName="userPassword" required="">
                                                                <div class="input-group-append">
                                                              <span class="input-group-text">
                                                                <i class="fa"
                                                                   [ngClass]="{
                                                                    'fa-eye-slash': !show,
                                                                    'fa-eye': show
                                                                  }"
                                                                   (click)="password()"></i>
                                                              </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="password">Confirm Password</label>
                                                            <div class="input-group">
                                                                <input [type]="confirmShow ? 'text' : 'password'" class="form-control" id="confirmPassword" placeholder="Enter your confirm password" formControlName="userConfirmPassword" required="">
                                                                <div class="input-group-append">
                                                              <span class="input-group-text">
                                                                <i class="fa"
                                                                   [ngClass]="{
                                                                    'fa-eye-slash': !confirmShow,
                                                                    'fa-eye': confirmShow
                                                                  }"
                                                                   (click)="confirmPassword()"></i>
                                                              </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <button class="form-group btn btn-solid btn-sm h-25 my-4" (click)="onRegister()" >Register</button>                                                       
                                                    </div>
                                                </form>
                                            </div>
                                        </ng-template>
                                    </ng-template>
                                </ngb-tab>
                            </ngb-tabset>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>