<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="order">                 
            <div class="row col-md-12">         
              <div class="form-group col-xl-6">
                <label class="col-form-label"> Address</label>
                <textarea class="form-control col-xl-12" type="text-area" formControlName="orderAddress" rows="10"
                  readonly></textarea>
              </div>
              <div class="form-group col-xl-3">
                <label class="col-form-label"> Customer Name</label>
                <input class="form-control col-xl-12" width="114" type="text" formControlName="customerName"  readonly />                
                <label class="col-form-label"> Customer Mobile</label>
                <input class="form-control col-xl-12" width="114" type="text" formControlName="customerMobile" readonly />                
                <label class="col-form-label"> OrderId</label>
                <input class="form-control col-xl-12" width="114" type="text" formControlName="orderNo" readonly />                
                <label class="col-form-label">Expected Courier</label>
                <input class="form-control col-xl-12" type="text" formControlName="eCourier" readonly required="true" />              
              </div>
              <div class="form-group col-xl-3">                              
                <label class="col-form-label"> Total Qty</label>
                <input class="form-control col-xl-12" type="text" formControlName="totalQty" required="true" readonly />
                <label class="col-form-label"> Shipping Amount</label>
                <input class="form-control col-xl-12" type="text" formControlName="shippingAmount" required="true" readonly />      
                <label class="col-form-label"><span>*</span>Actual Courier</label>
                <select class="form-control col-xl-12"  formControlName="aCourier" >
                  <option>-Select-</option>>
                  <option>IndiaPost</option>
                  <option>India Post(Speed)</option>
                  <option>DTDC</option>
                  <option>BlueDart</option>
                  <option>St Couriers</option>
                  <option>Professional Couriers</option>

                </select>     
                <label class="col-form-label"><span>*</span> TrackingId</label>
                <input class="form-control col-xl-12" type="text" formControlName="trackingId" required="true" />
              </div>
            </div>
          </form>
        </div>

        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <div id="batchDelete" class="custom-datatable">
                <div class="table-responsive table-bordered">
                  <ngx-datatable class="bootstrap" [rows]="orders" [columnMode]="'force'" [headerHeight]="50"
                    [footerHeight]="50" [rowHeight]="'auto'" [limit]="5">
                    <ngx-datatable-column name="Code">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.OrderProdCode}}
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Image">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <img src="{{row.Product}}" class="img-40" alt="">
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Qty">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.OrderQty}}
                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="form-group mb-0">
          <div class="text-center">
            <button (click)="saveOrder()" [disabled]="loading" type="submit" class="btn btn-primary mr-1">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Save
            </button>
            <a [routerLink]="['/landing/orders']" class="btn btn-light">Back</a>
          </div>
        </div>
      </div>
    </div>
  </div>